body {
    background-color: #23A0DE;
    background-size: 100vw auto;
    background-repeat: no-repeat;
}

header {
    display: grid;
    grid-template-columns: 2fr 3fr 2fr;
    grid-template-rows: 1fr;
    justify-items: center;
    align-items: center;
    background-color: #bfff85;
    background-size: 100vw auto;
}

h1 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    justify-items: center;
    align-items: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;

}
main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    background-color: #23A0DE;
    background-size: 100vw auto;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

footer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    justify-items: center;
    align-items: center;
}